@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Quicksand:wght@300;400;500;600;700&family=Space+Mono&family=Square+Peg&display=swap');

.card {
    width: 18rem;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}
.container {
    min-height: 100vh;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
footer img {
    width: 30px;
    border-radius: 20px;
}
.roman {
    border-radius: 3px;
    font-size: "Space Mono";
    font-size: 1.5rem;
    font-weight: bold;
}
.p {
    overflow-x: auto;
}

header img {
    max-width: 100%;
}
a {
    text-decoration: none;
}

@media (min-width: 650px) {
    .card {
        min-height: 13rem;
    }
    .card footer {
        position: absolute;
        bottom: 1em;
    }
    .card img {
        margin-left: 7em;
    }
}

.language {
    font-size: 0.625rem;
    display: inline-block;
}