@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Quicksand:wght@300;400;500;600;700&family=Space+Mono&family=Square+Peg&display=swap');

.card {
    width: 18rem;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}
.container {
    min-height: 100vh;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
footer img {
    width: 30px;
    border-radius: 20px;
}
.roman {
    border-radius: 3px;
    font-size: "Space Mono";
    font-size: 1.5rem;
    font-weight: bold;
}
